section{
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.363);
    height: 335px;
}
section h2{
    background-color: blue;
    color: white;
    width: 100%;
    text-indent: 15px;
}
.formulario{
    background-color: white;
   
}
form{
    margin-left: 20px;
}
.marcar{
    margin-left: 25px;
    width: 80vw;
    border-radius: 20px;
    height: 25px;
    margin-top: 5px;
}
.enviar{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    left: 65%;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 1333px;
}
thead{
    background-color: blue;
    color: white;
    font-weight: 500;
    text-indent: 5px;
    border: 2px solid black;
}
table td{
    border: 1px solid black;
    padding: 3px;
}
