.noticias{
    display: flex;
    width: 90%;
    height: 250px;
    overflow-x: auto;
    margin: auto;
    justify-content: space-between;
}
h2{
    background-color: blueviolet;
    color: white;
    width: 100%;
    
}
.noticias div{
    background-color: gray;
    height: 230px;
    width: 130px;
    padding: 3px;
}
.noticias img{
    height: 100px;
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.noticias h4{
    font-size: 15px;
    margin: auto;
    margin-left: 5px;
    justify-content: left;
    
}

